name: Use bazel remote cache service container
on:
  workflow_dispatch:
    inputs:
      docker_image:
        description: "Docker image for remote cache service container"
        required: true
        default: buchgr/bazel-remote:latest
  push:
    branches: [ main ]
env:
  IMG: ${{ inputs.docker_image || 'buchgr/bazel-remote:latest' }}
  USR: ${{ github.repository_owner }}
  PW: ${{ secrets.GITHUB_TOKEN }}
permissions:
  actions: read
  contents: read
  issues: read
  packages: write
  pages: read
  pull-requests: read
  repository-projects: read
jobs:
  service-container-test-job:
    runs-on: ubuntu-latest
    services:
      bazel-remote-cache:
        image: ${{ env.IMG }}
    steps:
      - name: Get user details
        run: |
          whoami
          id -u $(whoami)
      - name: Get remote cache status
        run: curl localhost:9090/status
