name: Use bazel remote cache service container
on:
  workflow_dispatch:
    inputs:
      docker_image:
        description: "Docker image for remote cache service container"
        required: true
        default: buchgr/bazel-remote:latest
  push:
    branches: [ main ]
env:
  IMG: ${{ inputs.docker_image || 'buchgr/bazel-remote:latest' }}
  USR: ${{ github.repository_owner }}
  PW: ${{ secrets.GITHUB_TOKEN }}
permissions:
  actions: read
  contents: read
  issues: read
  packages: write
  pages: read
  pull-requests: read
  repository-projects: read
jobs:
  service-container-test-job:
    runs-on: ubuntu-latest
# Feature gap:
#  - Cannot use env vars for image name definition
#  - When workflow is triggered by push then the default input values cannot be retrieved as they below
#          to workflow dispatch
#    services:
#      bazel-remote-cache:
#        image: ${{ env.IMG }}
    steps:
      - name: Get user details
        run: |
          whoami
          id -u $(whoami)
      - name: Pull remote cache docker image
        run: docker pull $IMG
      - name: Start remote cache docker container
        run: |
          echo "Starting remote cache Docker container"
          echo "TODO ADD DOCKER RUN COMMAND"
          echo "Docker container id: TODO XXX"
      - name: Get remote cache status
        run: curl localhost:9090/status
      - name: Run some code that uses the remote cache
        run: echo "Running some code"
      - name: Stop remote cache docker container
        if: ${{ vars.REMOTE_CACHE_CONTAINER_ID }}
        run: |
          echo "Stopping remote cache Docker container with id $REMOTE_CACHE_CONTAINER_ID "
          docker container stop $REMOTE_CACHE_CONTAINER_ID || true
          
