name: Use bazel remote cache service container
on:
  workflow_dispatch:
    inputs:
      docker_image:
        description: "Docker image for remote cache service container"
        required: true
        default: buchgr/bazel-remote-cache:latest
  push:
    branches: [ main ]
env:
  IMG: ${{ inputs.docker_image || 'buchgr/bazel-remote-cache:latest' }}
  USR: ${{ github.repository_owner }}
  PW: ${{ secrets.GITHUB_TOKEN }}
permissions:
  actions: read
  contents: read
  issues: read
  packages: write
  pages: read
  pull-requests: read
  repository-projects: read
jobs:
  service-container-test-job:
    runs-on: ubuntu-latest
# Feature gap:
#  - Cannot use env vars for image name definition
#  - When workflow is triggered by push then the default input values cannot be retrieved as they below
#          to workflow dispatch
#    services:
#      bazel-remote-cache:
#        image: ${{ env.IMG }}
    steps:
      - name: Get user details
        run: |
          whoami
          id -u $(whoami)
      - name: Pull remote cache docker image
        run: docker pull $IMG
      - name: Start remote cache docker container
        shell: bash
        run: |
          set -eou pipefail
          echo "Starting remote cache Docker container"
          userid=$(id -u $(whoami))
          mkdir -p remote_cache_data
          chmod 777 ./remote_cache_data
          set -x
          containerid=$(docker run -d -u ${userid}:1000 -v $(pwd)/remote_cache_data:/data -p 9090:8080 -p 9092:9092 buchgr/bazel-remote-cache --max_size 10 --enable_endpoint_metrics)
          set +x
          sleep 5
          docker container list
          echo "containerid=$containerid" >> $GITHUB_ENV
      - name: Get remote cache status
        run: curl localhost:9090/status
      - name: Run some code that uses the remote cache
        run: echo "Running some code"
      - name: Stop remote cache docker container
        if: ${{ env.containerid }}
        run: |
          echo "Stopping remote cache Docker container with id $containerid "
          docker container stop $containerid || true
      - name: Get remote cache status
        run: curl localhost:9090/status
          
