name: Hello World

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  hello-world:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Print Hello World
        run: echo "Hello World"
