name: Run in container
on:
  workflow_dispatch:
    inputs:
      docker_image:
        description: "Docker image to use"
        required: true
        type: choice
        options:
          - node:latest
          - ubuntu:latest
          - releases-docker.jfrog.io/jfrog/jfrog-cli-full-v2-jf:latest
          - ghcr.io/mtombosch/releases-docker.jfrog.io/jfrog/jfrog-cli-full-v2-jf:latest
          - ghcr.io/mtombosch/big-img:latest
        default: ghcr.io/mtombosch/releases-docker.jfrog.io/jfrog/jfrog-cli-full-v2-jf:latest
  push:
    branches: [ main ]
env:
  IMG: ${{ inputs.docker_image }}
jobs:
  container-test-job:
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.docker_image }}
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check for dockerenv file in container ${{ inputs.docker_image }}
        run: (ls /.dockerenv && echo Found dockerenv) || (echo No dockerenv)

  docker-pull-test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - run: |
          docker pull ghcr.io/mtombosch/releases-docker.jfrog.io/jfrog/jfrog-cli-full-v2-jf:latest
          docker pull ${IMG}
          echo "Done"
