name: Run in container
on:
  workflow_dispatch:
    inputs:
      docker_image:
        description: "Docker image to pull"
        required: true
        default: ghcr.io/mtombosch/pytorch/pytorch:2.9.1-cuda12.8-cudnn9-runtime
#          - releases-docker.jfrog.io/jfrog/jfrog-cli-full-v2-jf:latest
#          - ghcr.io/mtombosch/releases-docker.jfrog.io/jfrog/jfrog-cli-full-v2-jf:latest
#          - ghcr.io/mtombosch/big-img:latest
#          - ghcr.io/mtombosch/big-img:latest
#          - ghcr.io/mtombosch/pytorch/pytorch:2.9.1-cuda12.8-cudnn9-runtime
      docker_image_push:
        description: "Docker image to push to ghcr"
        required: true
        default: pytorch/pytorch:2.9.1-cuda12.8-cudnn9-runtime
  push:
    branches: [ main ]
env:
  IMG: ${{ inputs.docker_image }}
  IMG_PUSH: ${{ inputs.docker_image_push }}
  USR: ${{ github.repository_owner }}
  PW: ${{ secrets.GITHUB_TOKEN }}
permissions:
  actions: read
  contents: read
  issues: read
  packages: write
  pages: read
  pull-requests: read
  repository-projects: read
jobs:
  container-test-job:
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.docker_image }}
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check for dockerenv file in container ${{ inputs.docker_image }}
        run: (ls /.dockerenv && echo Found dockerenv) || (echo No dockerenv)

  docker-pull-test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - run: |
          sudo docker login --username $USR --password $PW ghcr.io
          sudo docker pull $IMG
          echo "Done"
  service-container-test-job:
    runs-on: ubuntu-latest
    services:
      big-image:
        image: ${{ inputs.docker_image }}
    steps:
      - name: Hello World
        run: echo "Hellow World"
  docker-upload-test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Hello World
        run: echo "Hellow World"
      - run: |
          sudo docker pull ${{ inputs.docker_image_push }}
          echo "Done"
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          sudo docker login --username $USR --password $PW ghcr.io
          sudo docker tag $IMG_PUSH ghcr.io/mtombosch/$IMG_PUSH
          sudo docker push ghcr.io/mtombosch/$IMG_PUSH
          echo "Done"
        
  docker-gen-and-upload-test-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5.0.0 
      # On the std gh runner the creation of a 5GB docker image is working but when trying to push it there is "no space left on
      # device" error showing up. Because of that space must be freed up to be able to create and push the image.
      - name: Show disk space after checkout
        run: |
          echo 'Disk space before build:'
          df -h
      - name: Removing unneeded software
        run: |
          echo "Removing unneeded software... "
          if [ -d /usr/share/dotnet ]; then echo "Removing dotnet..."; start=$(date +%s); sudo rm -rf /usr/share/dotnet; end=$(date +%s); echo "Duration: $((end-start))s"; fi
          #if [ -d /usr/local/lib/android ]; then echo "Removing android..."; start=$(date +%s); sudo rm -rf /usr/local/lib/android; end=$(date +%s); echo "Duration: $((end-start))s"; fi
          if [ -d /opt/ghc ]; then echo "Removing haskell (ghc)..."; start=$(date +%s); sudo rm -rf /opt/ghc; end=$(date +%s); echo "Duration: $((end-start))s"; fi
          if [ -d /usr/local/.ghcup ]; then echo "Removing haskell (ghcup)..."; start=$(date +%s); sudo rm -rf /usr/local/.ghcup; end=$(date +%s); echo "Duration: $((end-start))s"; fi
          if [ -d /usr/share/swift ]; then echo "Removing swift..."; start=$(date +%s); sudo rm -rf /usr/share/swift; end=$(date +%s); echo "Duration: $((end-start))s"; fi
          if [ -d /usr/local/share/chromium ]; then echo "Removing chromium..."; start=$(date +%s); sudo rm -rf /usr/local/share/chromium; end=$(date +%s); echo "Duration: $((end-start))s"; fi
      - name: Show disk space after cleanup
        run: |
          echo 'Disk space after cleanup:'
          df -h
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@1583c0f09d26c58c59d25b0eef29792b7ce99d9a # v3.11.1 
      - name: Build and push Docker images
        uses: docker/build-push-action@ccc2b40e9ea6518f9252a22a990f8e868370f62e # v6.18.0
        with:
          tags: ghcr.io/mtombosch/big_random_img:latest
          platforms: linux/amd64 # TODO: add multi arch "linux/amd64,linux/arm64"
          push: true

  actions-cache-load-and-upload-test-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5.0.0 
      # On the std gh runner the creation of a 5GB docker image is working but when trying to push it there is "no space left on
      # device" error showing up. Because of that space must be freed up to be able to create and push the image.
      - name: Show disk space after checkout
        run: |
          echo 'Disk space before build:'
          df -h
      - name: Removing unneeded software
        run: |
          echo "Removing unneeded software... "
          if [ -d /usr/share/dotnet ]; then echo "Removing dotnet..."; start=$(date +%s); sudo rm -rf /usr/share/dotnet; end=$(date +%s); echo "Duration: $((end-start))s"; fi
          #if [ -d /usr/local/lib/android ]; then echo "Removing android..."; start=$(date +%s); sudo rm -rf /usr/local/lib/android; end=$(date +%s); echo "Duration: $((end-start))s"; fi
          if [ -d /opt/ghc ]; then echo "Removing haskell (ghc)..."; start=$(date +%s); sudo rm -rf /opt/ghc; end=$(date +%s); echo "Duration: $((end-start))s"; fi
          if [ -d /usr/local/.ghcup ]; then echo "Removing haskell (ghcup)..."; start=$(date +%s); sudo rm -rf /usr/local/.ghcup; end=$(date +%s); echo "Duration: $((end-start))s"; fi
          if [ -d /usr/share/swift ]; then echo "Removing swift..."; start=$(date +%s); sudo rm -rf /usr/share/swift; end=$(date +%s); echo "Duration: $((end-start))s"; fi
          if [ -d /usr/local/share/chromium ]; then echo "Removing chromium..."; start=$(date +%s); sudo rm -rf /usr/local/share/chromium; end=$(date +%s); echo "Duration: $((end-start))s"; fi
      - name: Show disk space after cleanup
        run: |
          echo 'Disk space after cleanup:'
          df -h
      - name: Creating cache folder
        run: |
          echo "Creating cache folder... "
          mkdir -p actions_cache
    # http://man7.org/linux/man-pages/man1/date.1.html
      - name: Get Date
        id: get-date
        run: |
          echo "date=$(/bin/date -u "+%Y%m%d")" >> $GITHUB_OUTPUT
        shell: bash
      - name: Cache files
        id: cache-primes
        uses: actions/cache@v4
        with:
          path: actions_cache
          key: actions_cache-${{ runner.os }}-${{ steps.get-date.outputs.date }}
          restore-keys: |
            actions_cache-${{ runner.os }}
      - name: Generate 4 GB cache files
        run: |
          rm -rf actions_cache
          mkdir -p actions_cache
          head -c 1G /dev/urandom > ./actions_cache/1gb_file_1.txt
          head -c 1G /dev/urandom > ./actions_cache/1gb_file_2.txt
          head -c 1G /dev/urandom > ./actions_cache/1gb_file_3.txt
          head -c 1G /dev/urandom > ./actions_cache/1gb_file_4.txt
          
