name: Run in container
on:
  workflow_dispatch:
    inputs:
      docker_image:
        description: "Docker image to pull"
        required: true
        default: ghcr.io/mtombosch/pytorch/pytorch:2.9.1-cuda12.8-cudnn9-runtime
#          - releases-docker.jfrog.io/jfrog/jfrog-cli-full-v2-jf:latest
#          - ghcr.io/mtombosch/releases-docker.jfrog.io/jfrog/jfrog-cli-full-v2-jf:latest
#          - ghcr.io/mtombosch/big-img:latest
#          - ghcr.io/mtombosch/big-img:latest
#          - ghcr.io/mtombosch/pytorch/pytorch:2.9.1-cuda12.8-cudnn9-runtime
      docker_image_push:
        description: "Docker image to push to ghcr"
        required: true
        default: pytorch/pytorch:2.9.1-cuda12.8-cudnn9-runtime
  push:
    branches: [ main ]
env:
  IMG: ${{ inputs.docker_image }}
  IMG_PUSH: ${{ inputs.docker_image_push }}
  USR: ${{ github.repository_owner }}
  PW: ${{ secrets.GITHUB_TOKEN }}
permissions:
  actions: read
  contents: read
  issues: read
  packages: write
  pages: read
  pull-requests: read
  repository-projects: read
jobs:
  container-test-job:
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.docker_image }}
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check for dockerenv file in container ${{ inputs.docker_image }}
        run: (ls /.dockerenv && echo Found dockerenv) || (echo No dockerenv)

  docker-pull-test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - run: |
          sudo docker login --username $USR --password $PW ghcr.io
          sudo docker pull $IMG
          echo "Done"
  service-container-test-job:
    runs-on: ubuntu-latest
    services:
      big-image:
        image: ${{ inputs.docker_image }}
    steps:
      - name: Hello World
        run: echo "Hellow World"
  docker-upload-test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Hello World
        run: echo "Hellow World"
      - run: |
          sudo docker pull ${{ inputs.docker_image_push }}
          echo "Done"
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          sudo docker login --username $USR --password $PW ghcr.io
          sudo docker tag $IMG_PUSH ghcr.io/mtombosch/$IMG_PUSH
          sudo docker push ghcr.io/mtombosch/$IMG_PUSH
          echo "Done"
        
  docker-gen-and-upload-test-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5.0.0 
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@1583c0f09d26c58c59d25b0eef29792b7ce99d9a # v3.11.1 
      - name: Build and push Docker images
        uses: docker/build-push-action@ccc2b40e9ea6518f9252a22a990f8e868370f62e # v6.18.0
        with:
          tags: ghcr.io/mtombosch/big_random_img:latest
          platforms: linux/amd64 # TODO: add multi arch "linux/amd64,linux/arm64"
